/* Bootstrap isn't working */
html input, textarea, select, 
html .uneditable-input {
height: auto;    
}

body {
	padding-top: 30px;
	padding-bottom: 60px;
	padding-right: 20px;
}

/* PAGE CONTAINER */
.box {
	padding: 5px 5px 5px 15px;
	margin-bottom:  15px;
	background: #eee;
	border-radius: 5px;
}

