body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {text-decoration: none; color: #AC3236}

.highlight {
	font-weight:600;
	color:#b82b2f;
	text-transform:uppercase;
	
}

h2 {
text-align:center;
color: #424242;
font-size: 30px;
font-weight: 400;
margin-top:0;
}

h3 {
	text-align:center;
	color: #ac3236;
	font-size: 26px;
	font-weight: 400;
	margin: 0;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.row {
	clear:both;
	padding: 2em;
	background-color:#FFF;
}

.row.alt {
	background-color: #E9E9E9;
}

.col {
	float:left;
}

.col-2 {
	width: 46%;
	margin: 0 2%;
}

.col-3 {
	width: 29%;
	margin: 0 2%;
}

.col-4 {
	width: 21%;
	margin: 0 2%;
}

@media only screen and (max-width: 400px) {
	.col-2 {width: 100%; margin: 0}
}
@media only screen and (max-width: 600px) {
	.col-4 {width: 46%; margin: 2%}
	.col-3 {width: 100%; margin: 0}
	.col-2 {width: 100%; margin: 0}
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.top-bar {
	font-weight: 600;
	border-bottom: 5px solid #CCC;
	font-size: 0.8em;
	background-color: #FFF;
	padding-bottom: 5px;
}
.top-bar a {
	color: #666;
}
.top-bar a:hover, .topbar a.selected {
	color: #AC3236;
}

.top-bar h1 {
	width: 250px;
	height: 50px; 
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	margin: 0; padding: 0;
	background: url('../img/logo.png') 5px 100% no-repeat;
}

.top-nav {
	text-align:right
}

.top-bar ul {
	list-style:none;
	margin: 0;
	padding: 0;
}
.top-bar li {display:inline-block; white-space: nowrap;}
.top-bar li a {padding: 5px; margin-right: 10px;}
.menu-icon {float:right; padding: 5px; margin-right: 10px; font-size: 2em}


.top-bar .buttonx, .top-bar .buttonx:hover {
	background: #ac3236;
	color:#fff;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.hero {
	margin: 0;
	padding: 0;
	border-bottom: 5px solid #CCC;
	background-color: #0f0c0b;
	position:relative;
}

.hero-image {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	height: 480px;
}

.hero .how {
	background-image: url(../img/hero/camera.jpg);
}


.hero-content {
	background-color: #000;
	background-color: rgba(0,0,0,0.8);
	padding: 20px 25px 20px 50px;
	max-width:60%;
	color: #c2c2c2;
	font-size: 1.3em;
	font-weight: 400;
	margin-bottom: 3px;
	position: absolute;
	bottom: 2em;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.footer {
	border-top: 5px solid #CCC;

	background: #0f0c0b url(../img/map.png) no-repeat center top;
	background-position: center center;
	background-size: cover;
	padding-top:30px;
	color:#ddd;
	left: 0; right: 0;
	text-shadow:         1px 1px 1px rgba(0,0,0,0.9);
	-moz-text-shadow:    1px 1px 1px rgba(0,0,0,0.9);
	-webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
}

.footer p {
	font-size:15px;
	font-weight:400;
	color:#ddd;
	margin-top:7px;
	margin-bottom:7px;
	line-height: 1.5em;
}

.footer a {
	color:#ddd;
}

.footer a:hover {
	color:#f23f45;
}

.contact {
	margin-left: 10em;
	margin-bottom: 10em;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.testimonial-text {
	background: #e9e9e9;
	padding: 0 1em 0.5em;
	border-top: 3px solid #ac3236;
	font-style: italic;
	font-weight:400;
	-moz-border-radius:    5px;
   -webkit-border-radius: 5px;
   border-radius:         5px;
}

.alt .testimonial-text {
	background-color: #FFF;
}


.triangle-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid #e9e9e9;
	margin-left:75px;
}

.alt .triangle-down {
	border-top: 20px solid #fff;
}

.testimonial-name {
	margin-left: 1em;
	font-size: 0.86em;
}

.testimonial-name span {font-weight: 700; font-size: 1em;}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.blurb {
	text-align:center;
	margin-bottom: 3em;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.parallax {
	background: none !important;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

	@media only screen and (max-width: 640px) {
		.menu-icon {display:block}
		.top-nav {text-align:left; display:none;}
		.top-nav.expanded {display:block}
	
		.top-nav li {display:block;}
		.top-nav li a{display:block; width: 100%; line-height: 1.8em;}
		
		.hero-content {
			font-size: 1em
		}
		
	}
	
	@media only screen and (min-width: 641px) {
		.menu-icon {display:none}
		.top-nav {margin: 5px}
	}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* BEGIN position:fixed top menu */
	@media only screen and (min-width: 321px) {
		.top-bar {
			position:fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 99;
	}
/* END position:fixed top menu */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
