.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.6em;
	text-rendering: optimizelegibility;
}

a {text-decoration: none; color: #AC3236}

strong {
	font-weight:600;
	color:#b82b2f;
	text-transform:uppercase;
	
}

h2 {
text-align:center;
color: #424242;
font-size: 2em;
line-height: 1.2em;
font-weight: 400;
margin-top:0;
}

h3 {
	text-align:center;
	color: #ac3236;
	font-size: 1.8em;
	line-height: 1em;
	font-weight: 400;
	margin: 0;
}

h4 {
	text-align:center;
	color: #ac3236;
	border-bottom: 1px solid #AC3263;
	font-size: 1.2em;
	font-weight: 400;
	margin: 0;
}

p.oomph {
	font-size: 1.4em;
	line-height: 2em;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Flex Video (from foundation.css) */
.flex-video {
	position: relative;
	padding-top: 1.5625em;
	padding-bottom: 67.5%;
	height: 0;
	margin-bottom: 1em;
	overflow: hidden;
}
.flex-video.widescreen {
	padding-bottom: 57.25%;
}
.flex-video.vimeo {
	padding-top: 0;
}
.flex-video iframe, .flex-video object, .flex-video embed, .flex-video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* decoration: */
.flex-video {
	box-shadow:         2px 2px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
	-moz-box-shadow:    2px 2px 3px rgba(0,0,0,0.2);
	border: 1px solid #666;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Grid */

.centered {
	text-align:center
}


.row {
	clear:both;
	padding: 2em 15% 1em;
	background-color:#FFF;
}

.gridrow {padding-left: 1em; padding-right: 1em;}

.row.alt {
	background-color: #E9E9E9;
}

.col {
	float:left;
}

.col-2 {
	width: 46%;
	margin: 0 2%;
}

.col-3 {
	width: 29%;
	margin: 0 2%;
}

.col-4 {
	width: 21%;
	margin: 0 2%;
}

.col-4 img {width: 100%}

@media only screen and (max-width: 400px) {
	.col-2 {width: 100%; margin: 0}
}
@media only screen and (max-width: 600px) {
	.col-4 {width: 46%; margin: 2%}
	.col-3 {width: 100%; margin: 0}
	.col-2 {width: 100%; margin: 0}
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Navbar */

.top-bar {
	font-weight: 600;
	border-bottom: 5px solid #CCC;
	font-size: 0.8em;
	background-color: #FFF;
	padding-bottom: 5px;
}
.top-bar a {
	color: #666;
}
.top-bar a:hover, .top-bar a.selected {
	color: #AC3236;
}

.top-bar h1 {
	width: 250px;
	height: 50px; 
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	margin: 0; padding: 0;
	background: url('../img/logo.png') 5px 100% no-repeat;
}

	@media only screen and (min-width: 900px) {

	}

.top-nav {
	text-align:right
}

.top-bar ul {
	list-style:none;
	margin: 0;
	padding: 0;
}
.top-bar li {display:inline-block; white-space: nowrap;}
.top-bar li a {padding: 5px; margin-right: 10px;}
.menu-icon {float:right; padding: 5px; margin-right: 10px; font-size: 2em}


.top-bar .buttonx, .top-bar .buttonx:hover {
	background: #ac3236;
	color:#fff;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.hero {
	margin: 0;
	padding: 0;
	border-bottom: 5px solid #CCC;
	background-color: #0f0c0b;
	position:relative;
	left: 0; right: 0;
}

.hero-image {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	height: 480px;
}

.hero-content {
	background-color: #000;
	background-color: rgba(0,0,0,0.8);
	padding: 20px 25px 20px 50px;
	max-width:60%;
	color: #c2c2c2;
	font-size: 1.3em;
	font-weight: 400;
	margin-bottom: 3px;
	position: absolute;
	bottom: 2em;
}

.hero .what {
	background-image: url(../img/hero/cave.jpg);
}

.hero .why {
	background-image: url(../img/hero/?.jpg);
}

.hero .how {
	background-image: url(../img/hero/clapboard.jpg);
}

.hero .testimonials {
	background-image: url(../img/hero/b.jpg);
}

.hero .getstarted {
	background-image: url(../img/hero/camera.jpg);
}

.hero .aboutus {
	background-image: url(../img/hero/a.jpg);
}




/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

footer {clear:both}

.footer {
	border-top: 5px solid #CCC;
	background: #0f0c0b url(../img/map.png) no-repeat center top;
	background-position: center center;
	background-size: cover;
	padding-top:30px;
	color:#ddd;
	left: 0; right: 0;
	text-shadow:         1px 1px 1px rgba(0,0,0,0.9);
	-moz-text-shadow:    1px 1px 1px rgba(0,0,0,0.9);
	-webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
}

.footer p {
	font-size:15px;
	font-weight:400;
	color:#ddd;
	margin-top:7px;
	margin-bottom:7px;
}

.footer a {
	color:#ddd;
}

.footer a:hover {
	color:#f23f45;
}

.contact {
	margin-left: 10em;
	margin-bottom: 10em;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.testimonial-text {
	background: #e9e9e9;
	font-size: 0.9em;
	line-height: 1.4em;
	padding: 0 1em 0.5em;
	border-top: 3px solid #ac3236;
	font-style: italic;
	font-weight:400;
	-moz-border-radius:    5px;
   -webkit-border-radius: 5px;
   border-radius:         5px;
}

.alt .testimonial-text {
	background-color: #FFF;
}


.triangle-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid #e9e9e9;
	margin-left:75px;
}

.alt .triangle-down {
	border-top: 20px solid #fff;
}

.testimonial-name {
	margin-left: 1em;
	font-size: 0.86em;
	line-height: 1.4em;
}

.testimonial-name span {font-weight: 700; font-size: 1.2em;}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.blurb {
	text-align:center;
	margin-bottom: 3em;
	font-size: 1em;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.democontact {
	background: #e9e9e9;
	padding: 25px 17px 2px 20px;
	margin: 18px 0 0 0;
	border-bottom: 3px solid #ac3236;
	color:#424242;
	font-size:24px;
}

.democontact p {line-height: 1em; text-align:left;}
.democontact small {font-size: 16px}

.democontact a {
	color:#ac3236;
}

.democontact a:hover {
	color:#424242;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Top nav and hero breakpoints */

	@media only screen and (max-width: 640px) {
		.menu-icon {display:block}
		.top-nav {text-align:left; display:none;}
		.top-nav.expanded {display:block}
	
		.top-nav li {display:block;}
		.top-nav li a{display:block; width: 100%; line-height: 1.8em;}
		
		.hero-content {
			font-size: 1em
		}
		
	}
	
	@media only screen and (min-width: 641px) {
		.menu-icon {display:none}
		.top-nav {margin: 5px}
	}


	@media only screen and (min-width: 321px) {
		.top-bar {
			position:fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 99;
	}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
