<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Discussion</title>

<link rel="stylesheet" href="css/custom.css" type="text/css">
<link rel="stylesheet" href="css/bootstrap.css" type="text/css">

<script type="text/javascript" src="js/less-1.2.1.min.js"></script>
<script type="text/javascript" src="js/jquery1.7.1.js"></script> 
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/bootstrap-dropdown.js"></script>
<script type="text/javascript" src="js/bootstrap-alert.js"></script>

<script type="text/javascript">                                         
	$(document).ready(function() {
		/* -- Enable Jquery Dropdowns -- */
		$('.dropdown-toggle').dropdown();
		/* -- Enable Dismissal of Alerts -- */
		$(".alert").alert()
	});                                    
</script> 

</head>
<body>

<div class="container-fluid">
	<div class="media">
  <a class="pull-left" href="https://columbiasce.instructure.com/courses/104/discussion_topics/559" target="_blank">
    <img src="Icon_Discuss.png">
  </a>
  <div class="media-body">
    <h4 class="media-heading"><a href="https://columbiasce.instructure.com/courses/104/discussion_topics/559" target="_blank">Gamification for Education Discussion</a></h4>
    <p>How can video game mechanics be harnessed for education?</p>
     <p>
  		<a class="btn btn-small" href="https://columbiasce.instructure.com/courses/104/discussion_topics/559" target="_blank">Go to Discussion</a>
	</p>
  </div>
</div>
</div>
</body>
</html>