<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Transmedia</title>
<style>
	html {
  		font-size: 100%;
  		-webkit-text-size-adjust: 100%;
      	-ms-text-size-adjust: 100%;
	}
	
	body {
  		margin: 30px;
  		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  		font-size: 14px;
  		line-height: 20px;
  		color: #333333;
  		background-color: #ffffff;
	}
	
	h2 {
		font-weight:normal;
	}
	

</style>

</head>

<body>

<!-- Morgan, if you don't want a title, just remove the following line. Otherwise just replace the "Title Goes Here" text with whatever you want the title to be -->

<h2>Title Goes Here</h2>

<p>

<iframe width="1024" height="768" src="https://columbiasce.instructure.com/courses/104/quizzes/152" frameborder="0"></iframe>

</p>


</body>
</html>
