<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Website</title>

<link rel="stylesheet" href="css/custom.css" type="text/css">
<link rel="stylesheet" href="css/bootstrap.css" type="text/css">

</head>
<body>

<div class="container-fluid">
	<div class="media">
  <a class="pull-left" href="http://books.google.com" target="_blank">
    <img src="img/thumb.png" style="border: 3px solid #ccc;">
  </a>
  <div class="media-body">
    <h4 class="media-heading"><a href="http://books.google.com" target="_blank">Google Books</a></h4>
    <p>Search the latest index of the world's books. Find millions of great books you can preview or read for free.</p>
     <p>
  		<a class="btn btn-small" href="http://books.google.com" target="_blank">Go to Website</a>
	</p>
  </div>
</div>
</div>
</body>
</html>