@charset "UTF-8";
/* CSS Document */

/* FROM BOOTSTRAP */



/* CUSTOM */

body {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-question {
  max-width: 550px;
  padding: 15px;
  margin: 0 auto;
}

.form-article {
  max-width: 700px;
  padding: 15px;
  margin: 0 auto;
}

h1, h2, h3, h4 {font-family: 'open sans','Helvetica Neue',Helvetica,Arial,sans-serif;}

.form-question .form-question-heading {
  margin-bottom: 15px;
}
.form-question .checkbox {
  font-weight: normal;
}
.form-question .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-question .form-control:focus {
  z-index: 2;
}

.form-question input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-question textarea {
  margin-bottom: 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
	margin-bottom:20px;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.episodeHeading {
	font-size:12px;
	color:#666;	
}

.episodeScene {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #eee;
	border: 1px solid #ddd;
	background-color: rgba(86,61,124,.15);
	border: 1px solid rgba(86,61,124,.2);
	text-align:center;
}

.episodeText {
	padding-top: 2px;
	padding-bottom: 2px;
	font-size:10px;
	padding-left:4px;
	color:#666;	
	border-left: 1px solid #ccc;
}

.stopQuestion {
	padding:5px;
}

.stopQuestioninside {
	padding-top:10px;
	padding-bottom:10px;
	background-color:#fda362;
	text-align:center;
}

.stopQuestioninside:hover {
	background-color:#febb8b;	
}

.highviews {
	background-color:#146c78;	
}

.highviews:hover {
	border:1px solid #70bac5;	
	background-color:#198391;		
}

.medviews {
	background-color:#0e91a1;	
}

.medviews:hover {
	border:1px solid #70bac5;	
	background-color:#11abbf;	
}

.lowviews {
	background-color:#cbe6ea;	
}

.lowviews:hover {
	border:1px solid #70bac5;
	background-color:#d9f6fa;	
}

.transMediaLow {
	width:20px;
	height:20px;
	background-color:#cbe6ea;
	border: 1px solid rgba(86,61,124,.2);
	text-align:center;
}
.transMediaLow:hover {
	border:1px solid #70bac5;
	background-color:#d9f6fa;	
}

.transMediaMed {
	width:20px;
	height:20px;
	background-color:#0e91a1;
	border: 1px solid rgba(86,61,124,.2);
	text-align:center;
}

.transMediaMed:hover {
	border:1px solid #70bac5;
	background-color:#11abbf;	
}

.transMediaHigh {
	width:20px;
	height:20px;
	background-color:#146c78;
	border: 1px solid rgba(86,61,124,.2);
	text-align:center;
}

.transMediaHigh:hover {
	border:1px solid #70bac5;
	background-color:#198391;	
}

.lightgray {
	color:#eee;	
}

.medgray {
	color:#999;
}

.activityLabel {
	padding: 3px 15px 2px 5px;
}

.videos {
	border:3px solid #ccc;	
	text-align:center;
}

.videosSelected {
	border:3px solid #70bac5;	

}


.closed {
	border-radius: 4px;
	border-bottom:0px;
	margin-bottom:10px;
}

.hclosed {
	border-radius: 4px;
}

.summaryInfo {
	background-color:#fff;
	padding:10px;	
	border: 1px solid #ddd;
	border-radius: 3px;
	text-align:center;
	font-size:16px;
}

.analyticsSummaryHeadings {
	font-size:12px;
	border:0;
	text-transform:uppercase;
	color:#999;
}

.analyticsSummaryData {
	font-size:16px;
	color:#000;
}

.glyphicon-question-sign {
	font-size:18px;	
}

.glyphicon-play {
	font-size:18px;
}

.playVideo {
	margin-top:18px;
	background-color:rgba(0,0,0,.7);
	padding:10px;
	border-radius:10px;
	color:#eee;	
	padding-top:7px;
}

.popover-title {
	font-size:12px;
	color:#fff;
	padding:6px 10px;margin:0;font-weight:normal;line-height:16px;background-color:#424242;	
}

.popover-content {padding:6px 10px;font-size:12px;}